# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
db.sqlite3

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Env folder
venv/
env/

# IDE files
.vscode/
.idea/
*.swp
