# Python
**/__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
*.pyd

# Django static and media
/staticfiles/
*.db
*.sqlite3

# Virtual Environment
venv/

# Environment Variables
.env
*.env
.env.*

# VS Code and IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
*.cache

*/migrations/*
!*/migrations/__init__.py